

body { 
	font:10pt verdana;
	background: #fff;
	margin:0;
	padding:0;
	}
.style5 {color: #6C88A6;text-align:left}
.style6 {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.style7 {color: #FFFFFF}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

#navcontainer { width: 200px; }

#navcontainer ul
{
margin-left: 0;
padding-left: 0;
list-style-type: none;
font-family: Arial, Helvetica, sans-serif;
}

#navcontainer a
{
display: block;
padding: 3px;
width: 160px;
background-color: #2B4F77;
border-bottom: 1px solid #eee;
}

#navcontainer a:link, #navlist a:visited
{
color: #EEE;
text-decoration: none;
}

#navcontainer a:hover
{
background-color: #6C88A6;
color: #fff;
}

h1 {

	font:20pt verdana, arial, sans-serif;
	color:#666;
	margin:0;
	padding:125px 0 0 10px;
}

h2 {

	font:14pt verdana, arial, sans-serif;
	color:#666;
	padding:10px;
	margin:0;
        text-align: center;
}

h3 {

	font:14pt verdana, arial, sans-serif;
	color:#666;
	padding:10px;
	margin:0;
        text-align: left;
}

p { 
	font: 8pt verdana; 
	margin: 0px; 
	text-align: justify;
	}
	
#contain {
	height: 100vh;
	width:70%;
	border-right:2px solid #369;
	border-left:2px solid #369;
	margin-left:auto;
	margin-right:auto;
	background: #FFF ;
}

#leftcol {
	width:240px;
	float:left;
	padding:5px 0 5px 0;
	background-color: #fff;
}

#leftcol p {
	padding:3px 18px 3px 18px;
	margin:0;
}

#content {
	margin-left:240px;
	width:70%;
}

#content p {
	padding:3px 18px 3px 18px;
	margin:0;
}

#header {
	clear:left;
	border-top:1px solid #369;
	border-bottom:1px solid #369;
	background: #6C88A6;
	padding: 3px 0 3px 0;
}

#header p {
	text-align: center;
	padding-right: 8px;
}

#footer {
	position: absolute;
	padding-left: 750px;
	bottom: 0;
	width:70%;
	clear:left;
	border-top:1px solid #369;
	border-bottom:1px solid #369;
	background: #6C88A6;
	padding: 3px 0 3px 0;
}

#footer p {
	text-align:center;
	padding-right:8px;
	font:8pt verdana, arial, sans-serif;
}


.page-item.active .page-link,
.pagination-datatables li.active .page-link,
.pagination li.active .page-link,
**.pagination li.active span,**,
.page-item.active .pagination-datatables li a,
.pagination-datatables li .page-item.active a,
.pagination-datatables li.active a,
.page-item.active .pagination li a,
.pagination li .page-item.active a,
.pagination li.active a {
	z-index: 2;
	color: #fff;
	background-color: #20a8d8;
	border-color: #20a8d8;
}
.page-link, .pagination-datatables li a, .pagination li a, .pagination span {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #20a8d8;
	background-color: #fff;
	border: 1px solid #ddd; }
